.rightDiv{
    width: 55%;
    float: right;
    height: 50%;
}

p.paymentActivity {
    font-family: 'Market Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #191919;
    margin-top:0px;
}

.right {
    float: right;
    font-size: 12px;
    text-align: right;
    position:relative;
}

.ahref { 
    padding-right:0px;
}
.left {
    float: left;
    font-size: 10px;
    text-align: left;
    position: relative;
}

.tdFirst {
    text-align: left;
}

.tdLast {
    text-align: right;
}

.trFirst {
    background: #F7F7F7;
}

.line {
    position: relative;
    width: 95%;
    border: 1px solid #000000;
    margin: 0px;
}

.transactionSummary {
    position: relative;

    font-family: 'Market Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #191919;
    margin: 10px;
    text-align: left;
}

.thFirst {
    text-align: left;
    width: 36%;
}

.th{
    text-align: center;
    width: 18%;
}

.td {
    text-align: center;
}

.expenseSubTd {
    padding-left: 2%;
    text-align: left;
}